In [25]:
import pandas as pd

trainingSet = pd.read_csv("./data/train.csv")
testingSet = pd.read_csv("./data/test.csv")

In [9]:
trainingSet = trainingSet[:10000]
testingSet = testingSet[:10000]

predictionSet = pd.merge(trainingSet, testingSet, left_on='Id', right_on='Id')
print(predictionSet.columns)

predictionSet = predictionSet.drop(columns=['Score_x'])
predictionSet = predictionSet.rename(columns={'Score_y': 'Score'})

print(predictionSet.columns)
predictionSet.to_csv("./data/prediction.csv", index=False)

X_train = trainingSet[trainingSet['Score'].notnull()]
print(trainingSet.shape)
print(X_train.shape)
X_train.to_csv("./data/X_train.csv", index=False)

Index(['Id', 'ProductId', 'UserId', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score_x', 'Time', 'Summary', 'Text',
       'Score_y'],
      dtype='object')
Index(['Id', 'ProductId', 'UserId', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Time', 'Summary', 'Text', 'Score'],
      dtype='object')
(10000, 9)
(8295, 9)

In [22]:
merged = pd.read_csv("./data/vectormerged.csv")

In [29]:
predictionSet = pd.merge(merged, testingSet, left_on='Id', right_on='Id')
print(predictionSet.columns)

predictionSet = predictionSet.drop(columns=['Score_x'])
predictionSet = predictionSet.rename(columns={'Score_y': 'Score'})
print(predictionSet.columns)
predictionSet.to_csv("./data/prediction.csv", index=False)

X_train = merged[merged['Score'].notnull()]
print(merged.shape)
print(X_train.shape)
X_train.to_csv("./data/X_train.csv", index=False)

Index(['Id', '1', '2', 'ProductId', 'UserId', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score_x', 'Time', 'Summary', 'Text',
       'Score_y'],
      dtype='object')
Index(['Id', '1', '2', 'ProductId', 'UserId', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Time', 'Summary', 'Text', 'Score'],
      dtype='object')
(1697533, 11)
(1397533, 11)

In [30]:
X_train.head()

,Id,1,2,ProductId,UserId,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,0,0.582248,0.773082,0005019281,ADZPIG9QOCDG5,0,0,4.0,1203984000,good version of a classic,This is a charming version of the classic Dick...
1,1,0.286803,0.406779,0005019281,A35947ZP82G7JH,0,0,3.0,1388361600,Good but not as moving,It was good but not as emotionally moving as t...
2,2,1.228122,-0.037642,0005019281,A3UORV8A9D5L2E,0,0,3.0,1388361600,Winkler's Performance was ok at best!,"Don't get me wrong, Winkler is a wonderful cha..."
3,3,0.338368,0.416849,0005019281,A1VKW06X1O2X7V,0,0,5.0,1202860800,It's an enjoyable twist on the classic story,Henry Winkler is very good in this twist on th...
4,4,0.337193,0.421568,0005019281,A3R27T4HADWFFJ,0,0,4.0,1387670400,Best Scrooge yet,This is one of the best Scrooge movies out. H...

In [31]:
predictionSet = pd.read_csv("./data/prediction.csv")
X_predict = predictionSet.drop(columns=['Id', 'ProductId', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'UserId', 'Text', 'Summary', 'Score', 'Time'])
model = KNeighborsClassifier(n_neighbors=5).fit(X, y_train)
predictionSet['Score'] = model.predict(X_predict)

submission = predictionSet[['Id', 'Score']]
print(submission.head())
submission.to_csv("./data/submission.csv", index=False)

          1         2
0  0.808437  1.145806
1  0.447654  0.757051
2  0.571189  1.054861
3  0.550453  0.725113
4  1.282913  0.208261

In [142]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

X_train = pd.read_csv("./data/X_train.csv")
y_train = X_train['Score']

X = X_train.drop(columns=['Id', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'ProductId', 'UserId', 'Text', 'Summary', 'Score'])

predictionSet = pd.read_csv("./data/prediction.csv")
X_predict = predictionSet.drop(columns=['Id', 'ProductId', 'UserId', 'Text', 'Summary', 'Score', 'Time'])

print("here")

here

In [143]:
import numpy as np
print(X.isnull().sum())
print(len(X))
df=X.fillna(value=0, axis=0)
print(len(df))
print(df.isnull().sum())
df.head()
#print(df)
#print(y_train)
#for i in range(len(X)):
    
#mergeddf = pd.merge(df, y_train, left_on="Id", right_on="Id")
#y_train
#df[:5]
#df.replace(np.nan,0)
#print(len(X))
#print(X.isnull().sum())
print(X_predict.isnull().sum())
df_predict = X_predict.fillna(value=0, axis=0)
print(df_predict.isnull().sum())

1       60
2       60
Time     0
dtype: int64
1397533
1397533
1       0
2       0
Time    0
dtype: int64
1                         6
2                         6
HelpfulnessNumerator      0
HelpfulnessDenominator    0
dtype: int64
1                         0
2                         0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
dtype: int64

In [155]:
model = KNeighborsClassifier(n_neighbors=5).fit(df, y_train)
print("here")
#predictionSet['Score'] = model.predict(df_predict)

#submission = predictionSet[['Id', 'Score']]
#print(submission.head())
#submission.to_csv("./data/submission.csv", index=False)

here

In [154]:
df_sample = X_train.sample(1000)
sample_X = df_sample.drop(columns=['Id', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'ProductId', 'UserId', 'Text', 'Summary', 'Score'])
print(sample_X.head())
df_sample['Score'] = model.predict(sample_X)
#df_sample

def evaluateSample(train, prediction):
    from sklearn.metrics import mean_squared_error
    final = train.merge(prediction, left_on="Id", right_on="Id")
    #.drop(columns=['Id', '1_x', '2_x', 'ProductId_x', 'UserId_x', 'HelpfulnessNumerator_x', 'HelpfulnessDenominator_x', 'Time_x', 'Summary_x', 'Text_x',
    #                                                               '1_y', '2_y', 'ProductId_y', 'UserId_y', 'HelpfulnessNumerator_y', 'HelpfulnessDenominator_y', 'Time_y', 'Summary_y', 'Text_y'])

    return mean_squared_error(final["Score_x"].to_numpy(), final["Score_y"].to_numpy())

evaluateSample(X_train, df_sample)

                1         2        Time
759593   8.860314 -3.721446  1136851200
183544   2.858919  0.540849  1323043200
927493   4.770413  1.667759  1237161600
473861   1.616999  2.367997  1304035200
1212095  0.269429  0.512360  1353715200

1.94

In [107]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4],

                    'value': ['a', 'b', 'c', 'd']})

df2 = pd.DataFrame({'id': [1, 2],

                    'value': ['e', 'f']})

In [108]:
df1

   id value
0   1     a
1   2     b
2   3     c
3   4     d

In [109]:
df2

   id value
0   1     e
1   2     f

In [115]:
df1.merge(df2, left_on='id', right_on='id')

   id value_x value_y
0   1       a       e
1   2       b       f